<div class="container mt-3">
  <div class="row">
    <h5>Alerts</h5>
    <hr>
    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
    <h5>Data Binding</h5>
    <hr>
    <app-data-binding></app-data-binding>
    <h5>Directives</h5>
    <hr>
    <app-directives></app-directives>
    <h5>Component Communication</h5>
    <hr>
    <app-parent></app-parent>
    <p appBackgroundStyle [defaultColor]="'transparent'" [highlightColor]="'yellow'">This paragraph is highlighted using directive</p>
    <hr>
    <h5>Custom structural Directive</h5>
    <ng-template [appIterator]="numbersArr" let-item = "item">
      <p>{{item}}</p>
    </ng-template>
    <hr>
    <h5>ngSwitch Directive</h5>
    <hr>
    <div [ngSwitch]="selectedNumber">
      <div *ngSwitchCase="1">One</div>
      <div *ngSwitchCase="2">Two</div>
      <div *ngSwitchCase="3">Three</div>
      <div *ngSwitchCase="4">Four</div>
    </div>
  </div>
  <h5>Services</h5>
  <hr>
  <h3> Active Users </h3>
  <app-active-user></app-active-user>
  <h3> Inactive Users </h3>
  <app-inactive-user></app-inactive-user>
</div>
